In [1]:
# calculator
(10%3==1)and(10%2==1)

False

In [2]:
# python operators
# + - * / % ** //
2**100

1267650600228229401496703205376

In [3]:
# python operators priority
(2+2)*3

12

In [4]:
# print Hello world
print("Salam")

Salam

# Markdown
This is a markdown cell

In [5]:
# variables
A_1 = 'Salam'

In [6]:
print(A_1)

Salam

In [7]:
# variable names
# lower case, separated by underline _

In [8]:
# int
a=2
type(a)

int

In [9]:
# float
a=2.555
b=round(a,2)
print(type(b))
print(b)

<class 'float'>
2.56

In [10]:
# string
a='University of Tehran is a'
b='University'

In [11]:
# multiple variable print
print(a,'great',b)

University of Tehran is a great University

In [12]:
# add two different types
a='2'
b='3'
c='2'+'3'
print(c)
type(c)

23

str

In [13]:
# augmented assignment
# += %= &=
a=2
a+=2
print(a)

4

In [14]:
# if statement
a=-2
if a%2==1 and (a>=0):
    print(a,'is a positive odd number.')
elif a%2==1 and (a<0):
    print(a,'is a negative odd number.')
else:
    print(a,'is an even number.')

-2 is an even number.

In [15]:
if a%2==1:
    if a<0:
        print(a,'is a positive odd number.')
    else:
        print(a,'is a negative odd number.')
else:
    print(a,'is an even number.')

-2 is an even number.

In [17]:
# block syntax and errors
if a%2==1:
    if a<0:
        print(a,'is a positive odd number.')
        print(a,'is a positive odd number.')
     else:
        print(a,'is a negative odd number.')
else:
    print(a,'is an even number.')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [18]:
# comment

a=2 # This is how comments work

In [19]:
# boolean type
a==2

True

In [20]:
# strings slicing
a="University of Tehran"
print(a[2:3])
print(a[:3])
print(a[-3:])
print(a[:])

i
Uni
ran
University of Tehran

In [21]:
# list
a=[1,2,3,4]
a.append(5)
a

[1, 2, 3, 4, 5]

In [22]:
a.append(5)
a.count(5)

2

In [23]:
# list slicing
a=[1,2,3]
print(a[2:3])
print(a[2:5])
type(a[:-1])
#a.append(a)

[3]
[3]

list

In [24]:
# list append
a.count(2)

1

In [25]:
for index,i in enumerate(range(10,5,-2)):
    print(index,' ''s number',i)

0  s number 10
1  s number 8
2  s number 6

In [26]:
# list comprehension
[2**i for i in range(10) if i%3==0]

[1, 8, 64, 512]

In [27]:
s='University of Tehran'
[i for i in range(len(s)) if s[i]=='i']

[2, 7]

In [28]:
# list copy
a=[1,2,3]
b=a        # shallow copy
c=b.copy() # deep copy
b[1]=200
c[0]=100
print(a)

[1, 200, 3]

In [29]:
# list join
a=a+b
print(a)

[1, 200, 3, 1, 200, 3]

In [30]:
# tuple
a=(1,2,3)
b=[1,2,3]

a+tuple(b)

(1, 2, 3, 1, 2, 3)

In [31]:
# tuple imutability
a[1]=0

TypeError: 'tuple' object does not support item assignment

In [32]:
# set
s='University of Tehran'
''.join(list(set(list(s)))) # how to cast between str,list,set

'sf oUvtyeTrniah'

In [33]:
# set definition
a={1,2,3}
b=set([1,2,3])
print(a)
print(b)

{1, 2, 3}
{1, 2, 3}

In [34]:
# set operations
A=set([i for i in range(10) if i%3==0])
B=set([i for i in range(10) if i%2==1])
print(A)
print(B)
print(A.union(B))
i=9
if i in A: print(i,'is in',A)

{0, 9, 3, 6}
{1, 3, 5, 7, 9}
{0, 1, 3, 5, 6, 7, 9}
9 is in {0, 9, 3, 6}

In [35]:
# range
print(range(10,0,-1))
print(list(range(10,0,-1)))
print(set(range(10,0,-1)))

range(10, 0, -1)
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [36]:
# dict
d={'Ali':10,'Sara': 25, 'Vahid': 32}
d['Ali']=[22,2]
d

{'Ali': [22, 2], 'Sara': 25, 'Vahid': 32}

In [37]:
#a={5:10,12:8,1000000000000:5,(12,3):8}
a={3:5,5:4,4:100,100:3,8:8}
a[a[a[a[a[a[a[5]]]]]]]

3

In [38]:
# inverting key and value
print({v:k for (k,v) in a.items()})
print({a[k]:k for k in a})

{5: 3, 4: 5, 100: 4, 3: 100, 8: 8}
{5: 3, 4: 5, 100: 4, 3: 100, 8: 8}

In [39]:
# dict add item
a[-1]=4
a

{3: 5, 5: 4, 4: 100, 100: 3, 8: 8, -1: 4}

In [40]:
# dict pop
for i in a:
    print(i)

3
5
4
100
8
-1

In [41]:
# while
i=10
while(i>=0):
    i-=1
    print(i)

9
8
7
6
5
4
3
2
1
0
-1

In [42]:
# function
def is_prime(n):
    if type(n)==float and n==round(n):
        n=int(n)
    if type(n)!= int:
        return False
    if n<2:
        return False
    
    for i in range(2,n):
        if n%i==0:
            return False
        
    return (True,n)

is_prime(2.0)

(True, 2)

In [43]:
# class
class Student:
    def __init__(self,name,ID):
        self.name=name
        self.ID=ID
    
    def print_info(self):
        print(self.ID,self.name)
        
s1=Student('Ali',123123)
s2=Student('Ahmad',321321)

In [44]:
s1.print_info()
s2.print_info()

123123 Ali
321321 Ahmad